.addStratForm {
  box-sizing: border-box;
  background-color: #74A696;
  display: flex;
  flex-flow: column wrap;
  justify-content:center;
  margin: 50px auto;
  width: auto;
  max-width: 1000px;
  min-width: 300px;
  padding: 0 50px;
}

.addStratForm h3 {
  text-align: center;
  margin-bottom: 5px;
}

.form-error {
  color: red;
  font-weight: bolder;
  text-align: center;
  align-self: center;
}

.addStratLabel {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px; 
}

.saveCancelButton {
  align-self: center;
  background-color: #A7D9C9;
  border: 1px solid #5A786E;
  border-radius: 290486px;
  color: #0B261E;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
  margin: 10px 0 10px 0;
  cursor: pointer;
}

.ASButtons {
  display: flex;
  justify-content: space-around
}

.cancel {
  float: right;
  border: 1px solid #263d36;
}

.saveCancelButton:hover {
  background:  #263d36;
  color: #A7D9C9;
}

.cancel:hover {
  background:  #263d36;
  color: #A7D9C9;
}

#title, #content {
  width: 100%;
  align-self: center;
  margin: 5px 0; 
}

#title {
  height: 25px;
}

#content {
  height: 400px;
}
