.gamePage {
  display: flex;
  flex-flow: column wrap;
  justify-content:center;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 700px;
  min-width: 300px;
  line-height: 1.5;
  padding: 20px;
  color: #0B261E;
  background: #5A786E;
}

.mainGame {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.description {
  padding: 2px 4px;
  vertical-align: text-bottom;
  color: #0B261E;
}

.stratListHeader {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.gameHeader {
  display: flex;
  flex-flow: row ;
  align-items: baseline;
  justify-content: space-between
}

.titleOfGame {
  margin: 0;
  font-size: 32px;
  font-weight: 300%;
  color: #0B261E;
  max-width: 500px;
}



.newButton, .backButton {
  align-self: center;
  background-color: #A7D9C9;
  border: 1px solid #263d36;
  border-radius: 290486px;
  color: #0B261E;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
  margin: 10px;
  cursor: pointer;
}

.newButton:hover, .backButton:hover {
  background:  #263d36;
  color: #A7D9C9;
}

.link {
  text-decoration: none;
  padding: 0;
  margin: 0;
  line-height: 0;
}