header {
  background-color: #263d36;
  background-image: url(../images/Link-Header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  line-height: 1.2;
  padding: 10px;
}

.title {
  color: white;
  font-size: 2.5em;
  font-weight: 300%;
  padding: 1px;
  margin-left: 20px
}

.headerSearchButton {
  margin-top: 75px
}

.button {
  background-color: rgb(221, 221, 221);
  border: 1px solid #e81c4f;
  border-radius: 290486px;
  color: black;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}

button:focus {
  outline-style: none; 
}

.button:hover {
  background:  #e81c4f;
  color: white;
}
