.loginForm {
  box-sizing: border-box;
  background-color: #74A696;
  display: flex;
  flex-flow: column wrap;
  justify-content:center;
  margin: 50px auto;
  width: 50%;
  max-width: 500px;
  min-width: 300px;
  padding: 0 50px;
  border: 0
}

.loginForm h3 {
  text-align: center;
  margin-bottom: 5px;
}

.loginLabel {
  display: inline-block;
}

.loginButton {
  align-self: center;
  background-color: #A7D9C9;
  border: 1px solid #5A786E;
  border-radius: 290486px;
  color: #0B261E;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
  margin: 10px 0 10px 0;
}

.loginButton:hover {
  background:  #263d36;
  color: #A7D9C9;
}

#loginUsername, #loginPassword {
  width: 100%;
  align-self: center;
  margin: 5px 0; 
}
