.onboarding {
  display: flex;
  flex-flow: column wrap;
  justify-content:center;
  margin: auto;
  margin-top: 15px;
  max-width: 700px;
  min-width: 300px;
  line-height: 1.5;
  padding: 20px;
  color: #555;
  background: beige;
}

h1 {
  margin-top: 1em;
  font-size: 2.5em;
  font-weight: 300%;
  color: #333;
}

.welcomeMsg {
  padding: 2px 4px;
  vertical-align: text-bottom;
  color: #333;
}

.OBbutton {
  display: flex;
  justify-content: center;
}

.letsGoButton {
  align-self: center;
  border: 1px solid #e81c4f;
  border-radius: 290486px;
  color: black;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
  margin: 10px 0 10px 0;
}

.letsGoButton:hover {
  background:  #e81c4f;
  color: white;
}