.searchForm {
  margin: 0 ;
  max-width: auto;
  line-height: 1.5;
  padding:0;
  color: #555;
  background-color: #263d36;
  display: flex;
  flex-flow: column wrap;
}

.searchButton {
  background-color: rgb(221, 221, 221);
  border: 1px solid #e81c4f;
  border-radius: 290486px;
  color: black;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
  display: inline-block;
  margin-left: 30px;
  margin-right: 25px;
  cursor: pointer;
}

.searchButton:hover {
  background:  #e81c4f;
  color: white;
}

.searchLabel {
  color: white;
  font-size: 28px;
  font-weight: bold;
  padding: 15px 0 15px 30px;
  display: block;
}

.missingSearch {
  display: flex;
  margin: 0 auto;
  margin-top: 10%;
  font-size: 22px;
  font-weight: bold;
  color:red;
  flex: 1 1 
}

input:focus { 
  outline-style: none; 
}

#searchInput {
  padding: .5em 1em; 
  border-radius: 290486px;
  display: inline-block;
  width: auto;
  max-width: 300px;
  min-width: 50px;
  margin-left: 30px;
}

@media only screen 
  and (min-width: 320px) 
  and (max-width: 480px) {
    #searchInput {
      width: 72%;
    }
  }

.diplayedSearchValue{
  color: red;
  font-size: 28px;
  font-weight: bold;
  padding: 15px 0 15px 0;
}

.gameSearchSearchBar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.searchFeatures {
  display: flex;
  flex-flow: row;
}

.gameListItem {
  display: flex;
  flex-flow: row;
}

.missingImg {
  color: red;
  background-color: beige;
}

.game {
  border: 2px solid black;
  list-style-type: none;
  list-style: none;
  display: inline-block;
  height: auto;
  margin: 5px;
  text-decoration: none;
  flex: 1 0 200px;
}

.game:hover {
  border: 2px solid red
}

.gameCover {
  display: relative;
  width: auto;
}

.gameList {
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
  padding: 0;
}

.gameTitle {
  display: relative;
  color: black;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  text-align: center;
}

.gameInfo {
  background-color: beige;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

