.stratPage {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 700px;
  min-width: 300px;
  line-height: 1.5;
  padding: 20px;
  color: #0B261E;
  background: #5A786E;
}

.stratGame {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.createdBackButtonRow{
  display: flex;
  flex-flow: row;
  justify-content: space-between
}

h3 {
  margin-top: 1em;
  font-size: 32px;
  font-weight: 300%;
  color: #0B261E;
}

.description {
  padding: 2px 4px;
  vertical-align: text-bottom;
  color: #0B261E;
}

.stratDelButton {
  align-self: center;
  background-color: #A7D9C9;
  border: 1px solid #5A786E;
  border-radius: 290486px;
  color: #0B261E;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
  margin: 10px 0 10px 0;
}

.stratDelButton:hover {
  background:  #263d36;
  color: #A7D9C9;
}

